<div class="div-root">
  <h1 class="header-title">Under the gun</h1>
  <h3 class="header-subtitle">The game that teaches you when to bet or fold</h3>
  <button class="button-play" mat-button (click)="startGame()">
    Play game
  </button>

  <div class="image-div">
    <img
      class="image-home left"
      src="./../assets/card_tilted_left.svg"
      alt="playing card left"
    />
    <img
      class="image-home right"
      src="./../assets/card_tilted_right.svg"
      alt="playing card right"
    />
  </div>
</div>
