<div class="div-root">
  <h1 class="center">Under the gun</h1>
  <h1 style="font-size: xx-large" class="center">Level {{ currentLevel }}</h1>
  <div class="card-area">
    <img class="image-home left" [src]="leftCard.url" alt="playing card left" />
    <img
      class="image-home right"
      [src]="rightCard.url"
      alt="playing card right"
    />
  </div>
  <div class="select-area">
    <div><span class="select-text">Do you</span><br /></div>
    <div>
      <button
        type="button"
        class="btn btn-success select-text rounded"
        (click)="selectOption('bet')"
      >
        Bet
      </button>
      <span style="vertical-align: middle" class="select-text"> or </span>
      <button
        type="button"
        class="btn btn-danger select-text rounded"
        (click)="selectOption('fold')"
      >
        Fold
      </button>
    </div>
  </div>
</div>
