.div-root {
  background-image: linear-gradient(0, #e55d87, #5fc3e4);
  width: 100vw;
  height: 100vh;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-area {
  display: flex;
  justify-content: center;
}

.image-home {
  width: 25em;
  height: auto;
  position: absolute;
}
.left {
  margin-right: 128px;
}
.right {
  margin-left: 128px;
}
.select-area {
  position: fixed;
  bottom: 4em;
  width: 100%;
  text-align: center;
}
.select-text {
  font-size: 4em;
}
.bet {
  padding: 40px 2px 40 2px;

  background-color: green;
}
.fold {
  padding: 40px 2px 40 2px;
  background-color: red;
}
